.footer__conteyner{
    width: 100%;
    height: 70vh;
    background-image: url('https://d1kvkzjpuym02z.cloudfront.net/61ad2f788ccb5104b55dc041.jpg?Expires=2111782555&Signature=WgWlHHHY0Yge6Ex~47cu8G3MHfrmTFSx~4OlDZlCCiHVvKoRxwrRW-7cHw3GgSBHStNMHRr1D6AI1Xf5wcK4atCxCHNrmAOGVTMCfTkM6wB-ginZJt~HWi6usk79qVto7gbP0-Tccx~NFjK2RJe6AYDrz6NZZOPhUHPliq373kw_&Key-Pair-Id=APKAJXYWFXCDTRLR3EFA');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   /* background-color: rgba(0, 0, 0, 0.441); */
   opacity: 0.5;
}