* {
  padding: 0;
  margin: 0;
}
.header,
.conteyner {
  display: flex;
  z-index: 99;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-top: 15px;
}
.header__logo {
  width: 40px;
height: 40px;
}
.header__logoImg {
  object-fit: contain;
  flex: 1;
  object-fit: cover;
  border-radius: 50%;
  border: solid 2px gray;
  width: 100px;
  height: 80px;
  margin-right: 100px;
}
.header__links {
  display: flex;
  gap: 67px;
}
.header__links > a {
  text-decoration: none;
  text-transform: capitalize;
  color: #ffff;
  font-weight: 500;
  font-size: 21px;
  transition: 0.3s;
}
.header__links > a:hover {
  color: #004df2;
}
.header__right {
  box-sizing: border-box;
  width: 200px;
  height: 35px;
  left: 1196px;
  top: 39px;
  border: 2px solid #2d7fd7;
  transition: 0.5s;
}
.header__right:hover {
  background-color: #2d7fd7;
}

.header__right > a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15px;
  line-height: 32px;
  align-items: center;
  color: white;
}

.BTN {
  width: 30px;
  height: 30px;
  display: none;
}
/* ========================>Dropdown_menu <========================= */

.dropdown_menu {
  display: block;
  position: absolute;
  right: 1px;
  top: 60px;
  width: 100%;
  justify-content: center;
  background: rgba(235, 235, 235, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.show_open {
  display: none;
}
.dropdown_menu > a {
  display: none;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.dropdown_menu > a:hover {
  color: #f1f1f1;
}
.dropdown_menu .header__right {
  width: 95%;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 0.7rem;
}
